{% extends "catalog/base.html" %}
{% load static %}
{% block content %}
<!-- بخش بنر -->
<section class="hero-banner">
    <div class="hero-inner container">
        <div class="hero-texero">
            <h1>سید محمد باغبانیان</h1>
            <p>جراح مغز و اعصاب و ستون فقرات</p>
        </div>

        <div class="hero-image">
            <img src="{% static 'images/banerrrr.png' %}" alt="doctor">
        </div>
    </div>
</section>
<section class="about-doctor">
    <div class="container about-grid">
        <div class="about-text">
            <h2>سید محمد باغبانیان</h2>
            <p>تشخیص های افتراقی ام اس ام ار ای اختصاصی ام اس تشخیص قطعی ام اس نوع ام اس انتخاب بهترین داروی تعدیل کننده ایمنی برای ام اس بسته به نوع بیمار و بیماری چگونگی شروع داروهای تعدیل کننده ایمنی برای ام اس مدیریت عوارض داروهای تعدیل کننده ایمنی در ام اس تغییر داروهای تعدیل کننده ایمنی ام اس در بهترین زمان درمان دارویی علایم ثانویه ام اس درمان اسپاسم در زمینه ام اس درمان اختلال تعادل در زمینه ام اس درمان مشکلات ادراری در ام اس درمان خستگی ام اس درمان اختلالات جنسی در ام اس درمان افسردگی در زمینه ام اس تشخیص بیماری نورومیلیت اپتیکا یا (ان ام او) درمان بیماری نورومیلیت اپتیکا تشخیص و درمان بیماریهای التهابی مغز و نخاع
            </p>
            <p>
                ایشان عضو انجمن‌های معتبر داخلی و بین‌المللی بوده و سابقه برگزاری و مدیریت
                کنگره‌های علمی متعددی را در کارنامه خود دارند.
            </p>
        </div>

        <div class="about-image">
            <img src="{% static 'images/banerrrr.png' %}" alt="doctor">
        </div>
    </div>
</section>


{% endblock %}




