{% extends "catalog/base.html" %}
{% load static %}

{% block content %}
<section class="contact-section">
    <h2>تماس با ما</h2>

    <div class="contact-item">
        <i class="fas fa-map-marker-alt"></i>
        <div>ساری - خیابان فرهنگ - فرهنگ 17 - ساختمان سوگل طبقه3</div>
    </div>

    <div class="contact-item">
        <i class="fas fa-phone-alt"></i>
        <div>تلفن:011-33113527</div>
    </div>

    <div class="contact-item">
        <i class="fas fa-envelope"></i>
        <div>ایمیل: info@clinic.com</div>
    </div>

    <div class="contact-item">
        <i class="fas fa-clock"></i>
        <div>ساعات کاری: شنبه تا چهارشنبه، ۹ صبح تا ۵ عصر</div>
    </div>
</section>
{% endblock %}


