{% extends "catalog/base.html" %}
{% load static %}
{% block content %}
<!-- ***** Main Banner Area Start ***** -->
<section class="hero-banner">
    <div class="hero-inner container">
        <div class="hero-texero">
            <h1>سید محمد باغبانیان</h1>
            <p>جراح مغز و اعصاب و ستون فقرات</p>
        </div>

        <div class="hero-image">
            <img src="{% static 'images/banerrrr.png' %}" alt="doctor">
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** About Area Starts ***** -->
<section class="section" id="about">
    <div class="container">
        <div class="">
            <div>
                <div>
                    <div class="section-heading">
                        <h6>دکتر سید محمد باغبانیان</h6>
                        <h2>متخصص مغز اعصاب و ستون فقرات </h2>
                    </div>
                    <p>
                    <ul class="text-right">
                        <li>اولین فلوشیپ مولتیپل اسکلروزیس (ام اس) در ایران</li>
                        <li>متخصص مغز و اعصاب و دانشیار بیماری‌های مغز و اعصاب دانشگاه علوم پزشکی مازندران</li>
                        <li>مسئول ثبت اطلاعات بیماران ام‌اس استان مازندران</li>
                        <li>تنها فلوشیپ مولتیپل اسکلروزیس در استان‌های مازندران، گلستان و سمنان</li>
                        <li> بیش از 10 سال سابقه درمان بیماران ام‌اس و سایر بیماری‌های مغز و اعصاب</li>
                    </ul>
                    </p>

                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="left-content">
                    <div class="video-box">
                        <video  src="{% static 'images/test.MP4' %}" controls ></video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** About Area Ends ***** -->

<!-- ***** Menu Area Starts ***** -->
<section class="section" id="menu">
    <div class="container">
        <div class="">
            <div class="row-cols-1">
                <div class="section-heading">
                    <h1> خدمات </h1>
                    <h5>خدماتی که توسط دکترسید محمد باغبانیان ارائه می‌شود را می‌توانید به تفکیک در این قسمت مطالعه
                        نمایید</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-item-carousel">
        <div class="col-lg-12">
            <div class="owl-menu-item owl-carousel">
                <div class="item">
                    <div class='card card1'>
                        <div class='info'>
                            <h1 class='title'>جراحی ستون فقرات </h1>
                            <p class='description'>یکی از روش‌های درمانی تخصصی برای بیمارانی است که دچار اختلالات
                                ساختاری یا عملکردی جدی در ناحیه ستون فقرات هستند و درمان‌های غیرجراحی برای آن‌ها مؤثر
                                نبوده است. این نوع جراحی معمولاً توسط متخصص جراحی مغز و اعصاب یا ارتوپدی ستون فقرات
                                انجام می‌شود.</p>
                            <div class="main-text-button">
                                <div class="scroll-to-section"><a href="#reservation">اطلاعات بیشتر <i
                                        class="fa fa-angle-down"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class='card card2'>
                        <div class='info'>
                            <h1 class='title'>نوار مغز </h1>
                            <p class='description'>یک روش تشخیصی غیرتهاجمی و بدون درد است که برای ثبت و بررسی فعالیت
                                الکتریکی مغز استفاده می‌شود. این آزمایش نقش مهمی در تشخیص و پیگیری بسیاری از بیماری‌های
                                مغز و اعصاب دارد.</p>
                            <div class="main-text-button">
                                <div class="scroll-to-section"><a href="#reservation">اطلاعات بیشتر <i
                                        class="fa fa-angle-down"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class='card card3'>
                        <div class='info'>
                            <h1 class='title'>تست توانبخشی</h1>
                            <p class='description'>مجموعه‌ای از ارزیابی‌های بالینی گفته می‌شود که برای سنجش وضعیت
                                عملکردی بیمار و تعیین نیازها، اهداف و برنامه مناسب توانبخشی انجام می‌گیرد. این تست‌ها
                                بسته به نوع مشکل بیمار (عصبی، عضلانی–اسکلتی، قلبی–ریوی یا شناختی) متفاوت هستند.</p>
                            <div class="main-text-button">
                                <div class="scroll-to-section"><a href="#reservation">اطلاعات بیشتر <i
                                        class="fa fa-angle-down"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class='card card4'>
                        <div class='info'>
                            <h1 class='title'>OTC</h1>
                            <p class='description'>به بیماران کمک می‌کند توانایی انجام فعالیت‌های روزمره را بازیابند یا
                                بهبود دهن</p>
                            <div class="main-text-button">
                                <div class="scroll-to-section"><a href="#reservation">اطلاعات بیستر <i
                                        class="fa fa-angle-down"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class='card card5'>
                        <div class='info'>
                            <h1 class='title'>تشخیص قطعی ام اس</h1>
                            <p class='description'>تشخیص ام‌اس زمانی قطعی می‌شود که انتشار ضایعات در زمان و مکان در
                                سیستم عصبی مرکزی اثبات گردد.</p>
                            <div class="main-text-button">
                                <div class="scroll-to-section"><a href="#reservation">اطلاعات بیشتر<i
                                        class="fa fa-angle-down"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class='card card3'>
                        <div class='info'>
                            <h1 class='title'>نورومیلیت اپتیکا یا (ان ام او)</h1>
                            <p class='description'>یک بیماری خودایمنی نادر سیستم عصبی مرکزی است که عمدتاً عصب بینایی و
                                نخاع را درگیر می‌کند و از نظر تشخیصی و درمانی با ام‌اس تفاوت‌های اساسی دارد.</p>
                            <div class="main-text-button">
                                <div class="scroll-to-section"><a href="#reservation">اطلاعات بیشتر<i
                                        class="fa fa-angle-down"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Menu Area Ends ***** -->

<!-- ***** Chefs Area Starts ***** -->
<section class="services-section">
    <div class="services-wrapper">

        <!-- cards -->
        <div class="services-cards">
            <a href="#" class="service-card">
                <div class="service-image">
                    <img src="{% static 'images/service1.png' %}" alt="دیسک گردن">
                </div>
                <h3>دیسک گردن</h3>
            </a>

            <a href="#" class="service-card">
                <div class="service-image">
                    <img src="{% static 'images/service2.png' %}" alt="تنگی کانال نخاعی">
                </div>
                <h3>تنگی کانال نخاعی</h3>
            </a>

            <a href="#" class="service-card">
                <div class="service-image">
                    <img src="{% static 'images/service3.png' %}" alt="بیرون‌زدگی دیسک">
                </div>
                <h3>بیرون‌زدگی دیسک</h3>
            </a>
        </div>

        <!-- info -->
        <div class="services-info">
            <h2>انواع بیماری‌ها</h2>
            <p>
                هر آنچه که باید درباره بیماری‌های مربوط به مغز و اعصاب
                و ستون فقرات بدانید را در این قسمت مطالعه نمایید
            </p>

            <div class="slider-buttons">
                <button class="prev">‹</button>
                <button class="next">›</button>
            </div>
        </div>

    </div>
</section>

<!-- ***** Chefs Area Ends ***** -->

<!-- ***** Reservation Us Area Starts ***** -->
<section class="worktime">

    <div class="worktime-info">
        <h3>ساعت کاری مطب</h3>
        <p>
            قبل از مراجعه حضوری در ساعات ۱۰ الی ۱۵ روزهای ذکرشده،
            جهت تعیین نوبت با شماره‌های موجود در سایت هماهنگ بفرمایید
        </p>
    </div>

    <div class="worktime-box">
        <div class="day">
            <img src="{% static 'images/clock.png' %}">
            <span>شنبه</span>
            <strong>۴ عصر الی ۸ شب</strong>
        </div>

        <div class="day">
            <img src="{% static 'images/clock.png' %}">
            <span>دوشنبه</span>
            <strong>۴ عصر الی ۸ شب</strong>
        </div>

        <div class="day">
            <img src="{% static 'images/clock.png' %}">
            <span>سه‌شنبه</span>
            <strong>۴ عصر الی ۸ شب</strong>
        </div>
    </div>

</section>
<!-- ***** Reservation Area Ends ***** -->


{% endblock %}